/* download button */


	.yadisk-download {
		background-color: #f3f3f3;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(50%, #dddddd), color-stop(50%, #d2d2d2), color-stop(100%, #dfdfdf));
		background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
		background-image: -moz-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
		background-image: -ms-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
		background-image: -o-linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
		background-image: linear-gradient(top, #f3f3f3 0%, #dddddd 50%, #d2d2d2 50%, #dfdfdf 100%);
		border-right: 1px solid #dfdfdf;
		border-bottom: 1px solid #b4b4b4;
		border-right: 1px solid #dfdfdf;
		border-radius: 5px;
		-webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5;
		box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5;
		font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
		margin: 10px auto;
		padding: 7px 14px;
		text-align: center;
		width: 70%;
		text-shadow: 0 1px 1px #fff;
		display: block;
		 }
		.yadisk-download:hover {
		  background-color: #e5e5e5;
		  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #d1d1d1), color-stop(50%, #c4c4c4), color-stop(100%, #b8b8b8));
		  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
		  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
		  background-image: -ms-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
		  background-image: -o-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
		  background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
		  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9;
		  box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9;
		  cursor: pointer; }
		.yadisk-download:active {
		  -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
		  box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white; }

